<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="static/stylesheet.css">
    </head>
<body>
    <button class="btn" id='back-btn' style=display:none; onclick="backBtnLocation()">Back</button>
    <div id="main-container">
        <form id='login-form' onsubmit="">
            <table id="table">
                <tbody id="tbody">
                    <input type="text" id="inp" name="query" placeholder="Find a Recipe" autocomplete="off">
                    <input type="submit" id="btn" class="btn"/>
                </tbody>
            </table>
        </form>
        <br><br>
            <div id="title-image"></div>
            <div id="list-container">
                <h2 style=display:none;>Ingredient List</h2>
                <ul id="recipe-list"></ul>
            </div>
            <div id="recipe-steps">
                <ul id="recipe-step-list"></ul>
            </div>
        
    </div>
</body>
<script type="text/javascript" src="{{
    url_for('static', filename='js/app.js') }}"></script>
<!-- <script type="text/javascript" src="{{
    url_for('static', filename='js/secrets.js') }}"></script> -->
</html>